@import '../../style/variables';
@import '../../style/breakpoints';

.footerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $footer-color;
  width: 100%;
  height: $footer-height;
  color: lighten($font-color, 30);
  hr {
    $hr-color: darken($font-color, 8);
    background-color: $hr-color;
    border:1px solid $hr-color;
    min-width: 90%;
    @include on('medium') {
      min-width: 400px;
    }
  }
  span {
    margin-bottom: 10px;
  }
}