@import '../../style/variables';
@import '../../style/breakpoints';

.headerWrapper {
  width: 100%;
  border-bottom: 1px solid lighten($font-color, 50);
  background-color: white;
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    img {
      @include on('medium') {
        margin-left: 15%;
      }
      margin-left: 5%;
      margin-top: 50px;
      width: 140px;
    }
    .navigation {
      @include on('medium') {
        margin-left: 15%;
        max-width: 400px;
        padding: 25px 0 0 0;
      }
      padding: 25px 5% 0 5%;
      width: 100%;
      justify-content: space-between;
      flex-direction: row;
      display: flex;
    }
  }
}
