@import '../../../style/variables';

.tab {
  color: $font-color;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 35px;
  &.activeTab, &:hover {
    transition-duration: 200ms;
    color: $primary-color;
    box-shadow: 0 1px 0 $primary-color, inset 0 -1px 0 $primary-color;
  }
}