@import '../../style/variables';

.view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: $view-standard-padding 0;
  flex: 1;
}
